<div class="column is-one-quarter"
    <nav class="panel">
        <p class="panel-heading">Profile</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRHvNof9XBbAUDI9sJ9oNDFbYBw-sC_dnzjA&usqp=CAU">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%= current_user.name %></strong><br>
                            <small>@<%= current_user.username %></small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <div class="level is-mobile">
                <div class="level-item has-centered-text">
                    <div>
                        <p class="heading">Tweets</p>
                        <p class="title is-6"> <%= current_user.tweets.count %> </p>
                    </div>
                </div>
                <div class="level-item has-centered-text">
                    <div>
                        <p class="heading">Following</p>
                        <p class="title is-6">0</p>
                    </div>
                </div>
                <div class="level-item has-centered-text">
                    <div>
                        <p class="heading">Followers</p>
                        <p class="title is-6">0</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>