<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block"> #1 
        </a>
        <a class="panel-block"> #2 
        </a>
        <a class="panel-block"> #3 
        </a>
        <a class="panel-block"> #4 
        </a>
        <a class="panel-block"> #5 
        </a>
    </nav>
</div>